@import "tailwindcss";
@import "./fonts/font.css";


body {
  font-family: 'GT Walsheim Pro', 'system-ui', 'sans-serif', 'ui-sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*   
  h1, h2, h3{
    font-family:'GT Walsheim Bold', 'system-ui', 'sans-serif', 'ui-sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;

} */


:root {
  --primary-500: #6F3DCB;
  --primary-50: #F1ECFA;
  --success: #F0F5EA;
  --success_text: #669F2A;
  --error: #FCE8E7;
  --error-700: #B42318;
  --gray-50: #FFFFFF;
  --gray-100: #F4F4F4;
  --gray-200: #E3E3E3;
  --gray-400: #8B8B8A;
  --gray-500: #565655;
  --gray-800: #565655;
}

@theme {
  /* Grey */
  --color-grey-50: #ffffff;
  --color-grey-100: #f4f4f4;
  --color-grey-200: #e3e3e3;
  --color-grey-300: #b1b1b0;
  --color-grey-400: #8b8b8a;
  --color-grey-500: #565655;
  --color-grey-600: #353535;
  --color-grey-700: #030301;
  --color-grey-800: #020201;
  --color-grey-900: #010100;

  /* Primary */
  --color-primary-50: #f1ecfa;
  --color-primary-100: #d2c3ef;
  --color-primary-200: #bda6e7;
  --color-primary-300: #9f7ddc;
  --color-primary-400: #8c64d5;
  --color-primary-500: #6f3dcb;
  --color-primary-600: #6538b9;
  --color-primary-700: #4f2b90;
  --color-primary-800: #3d2270;
  --color-primary-900: #2f1a55;

  /* Secondary */
  --color-secondary-50: #edf7f6;
  --color-secondary-100: #c8e6e2;
  --color-secondary-200: #addad3;
  --color-secondary-300: #87c9bf;
  --color-secondary-400: #70beb3;
  --color-secondary-500: #4caea0;
  --color-secondary-600: #459e92;
  --color-secondary-700: #367c72;
  --color-secondary-800: #2a6058;
  --color-secondary-900: #204943;

  /* Error */
  --color-error-50: #fce8e7;
  --color-error-100: #f7b9b5;
  --color-error-200: #f39792;
  --color-error-300: #ed6760;
  --color-error-400: #e94941;
  --color-error-500: #e41c11;
  --color-error-600: #cf190f;
  --color-error-700: #a2140c;
  --color-error-800: #7d0f09;
  --color-error-900: #600c07;

  /* Warning */
  --color-warning-50: #fff0e6;
  --color-warning-100: #ffd1b0;
  --color-warning-200: #ffbb8a;
  --color-warning-300: #ff9c54;
  --color-warning-400: #ff8933;
  --color-warning-500: #ff6b00;
  --color-warning-600: #e86100;
  --color-warning-700: #b54c00;
  --color-warning-800: #8c3b00;
  --color-warning-900: #6b2d00;

  /* Success */
  --color-success-50: #f0f5ea;
  --color-success-100: #d0e1bd;
  --color-success-200: #b9d39d;
  --color-success-300: #98bf70;
  --color-success-400: #85b255;
  --color-success-500: #669f2a;
  --color-success-600: #5d9126;
  --color-success-700: #48711e;
  --color-success-800: #385717;
  --color-success-900: #2b4312;

  /* Brown */
  --color-brown-50: #fdf1ed;
  --color-brown-100: #f9d3c6;
  --color-brown-200: #f6bdaa;
  --color-brown-300: #f29f84;
  --color-brown-400: #ef8d6c;
  --color-brown-500: #eb7047;
  --color-brown-600: #d66641;
  --color-brown-700: #a75032;
  --color-brown-800: #813e27;
  --color-brown-900: #632f1e;

  --background-image: url('/assets/bg-image.svg');
  --background-image-2: url('/assets/individual-bg-image.svg');
}